<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
	<!--the following scripts control the intake of protein, calories, fat and carbs-->
	<script type="text/javascript">
      angular.module('calorie', ['ionic'])
	
      .controller("proteinCtrl", function($scope) {
        $scope.protein = 0;
      })

	.controller("caloriesCtrl", function($scope) {
        $scope.calories = 0;
      })

	 .controller("fatCtrl", function($scope) {
        $scope.fat = 0;
      })

 .controller("carbsCtrl", function($scope) {
        $scope.carbs = 0;
      })
	;

    </script> 


 </head>
  <body ng-app="calorie" ng-controller = "proteinCtrl" ng-controller="carbsCtrl"  ng-controller = "caloriesCtrl" ng-controller = "fatCtrl" ><!--controlers declared in the body -->


    <ion-pane>
      <ion-header-bar class="bar-stable bar-dark">
        <h1 class="title">Calorie Counter +</h1><!--header for the app-->
      </ion-header-bar>
      <ion-content>
	  <!--This part takes in your intake of calories -->
        <div class="list">
	
	 <h3 class="title">Calories(g):</h3>
	  <div class="list list-inset"><!--this list allows the buttons to be in a row-->
		<!--button that control the intake -->
                 <button class="button button-dark" ng-click="calories = calories + 1">
                 +1
                </button>
                <button class="button button-dark"ng-click="calories = calories + 5">
                +5
                </button>
                <button class="button button-dark"ng-click="calories = calories + 10">
                +10
                </button>
               <button class="button button-dark"ng-click="calories = calories + 50">
                +50
                </button>

		 </div>

        <div class="list list-inset"><!--this list allows the buttons to be in another row-->

                 <button class="button button-light"ng-click="calories = calories - 1">
                 -1
                </button>
                <button class="button button-light"ng-click="calories = calories - 5">
                -5
                </button>
                <button class="button button-light"ng-click="calories = calories - 10">
                -10
                </button>
       		<button class="button button-light"ng-click="calories = calories - 50">
                -50
                </button>

	         </div>
			<!--label that displays the intake-->
	  	   <label class="item item-input">
                   <input type="number" ng-model="calories">
                   </label>

	</div>
       



	 <!--This part takes in your protein intake-->
        <div>
         <h3 class="title">Protein(g):</h3>
	<div class="list list-inset">
	
                 <button class="button button-dark" ng-click="protein = protein + 1">
 		 +1
		</button>
		<button class="button button-dark"ng-click="protein = protein + 5">
 		+5
		</button>
		<button class="button button-dark"ng-click="protein = protein + 10">
 		+10
		</button>
		</div>

	<div class="list list-inset">
	
		 <button class="button button-light"ng-click="protein = protein - 1">
                 -1
                </button>
                <button class="button button-light"ng-click="protein = protein - 5">
                -5
                </button>
		<button class="button button-light"ng-click="protein = protein - 10">
                -10
                </button>
		</div>
		
        </div>
		<!--label that displays the intake-->
	 <label class="item item-input">
                         <input type="number" ng-model="protein">
                         </label>


       



	 <!--This part takes in your fat intake-->
         <h3 class="title">Fat(g):</h3>
 	 <div class="list list-inset">

                 <button class="button button-dark" ng-click="fat = fat + 1">
                 +1
                </button>
                <button class="button button-dark"ng-click="fat = fat + 5">
                +5
                </button>
                <button class="button button-dark"ng-click="fat = fat + 10">
                +10
                </button>
                </div>

        <div class="list list-inset">

                 <button class="button button-light"ng-click="fat = fat - 1">
                 -1
                </button>
                <button class="button button-light"ng-click="fat = fat - 5">
                -5
                </button>
                <button class="button button-light"ng-click="fat = fat - 10">
                -10
                </button>
                </div>
                 
        </div>
	<!--label that displays the intake-->
	  <label class="item item-input">
                         <input type="number" ng-model="fat">
                         </label>








        <!--This part takes in your carbs-->
        <h3 class="title">Carbohydrates(g):</h3>
	<div class="list list-inset">

                 <button class="button button-dark" ng-click="carbs = carbs + 1">
                 +1
                </button>
                <button class="button button-dark"ng-click="carbs = carbs + 5">
                +5
                </button>
                <button class="button button-dark"ng-click="carbs = carbs + 10">
                +10
                </button>
                </div>

        <div class="list list-inset">

                 <button class="button button-light"ng-click="carbs = carbs - 1">
                 -1
                </button>
                <button class="button button-light"ng-click="carbs = carbs - 5">
                -5
                </button>
                <button class="button button-light"ng-click="carbs = carbs - 10">
                -10
                </button>
                </div>
                 
        </div>
	<!--label that displays the intake--> 
	 <label class="item item-input">
                         <input type="number" ng-model="carbs">
                         </label>




	<!--this button resets all the intake values to zero-->
        <button class="button button-block button-dark" ng-click= "protein = 0;fat = 0;carbs = 0;calories = 0">
        RESET DAILY INTAKE
        </button>


      </ion-content>
    </ion-pane>
  </body>
</html>
